<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <script type="text/javascript">
        setTimeout(function () {
            location = ''
        }, 5000)
    </script>
</head>
<body>
<div class="chat">
    <div class="chat-messages">
        <div class="chat-messages__content">
            <ul class="messages" id="messages">
                <li th:each="message: ${messages}">
                    <span th:class="${message.color}"
                          th:text="${message.messageTime} + ': ' + ${message.userName} +': ' + ${message.textString}"></span>
                </li>
            </ul>
        </div>
        <ul class="users" id="users">
            <li th:each="user: ${users}">
                <span th:class="${user.color}" th:text="${user.name}"></span>
            </li>
        </ul>
    </div>

    <div class="chat-input">
        <form
                action="#"
                th:action="@{/send}"
                method="post">
            <input type="text" th:value="${textMessage}" name="textMessage" class="chat-form__input"
                   placeholder="Введите сообщение">
            <input type="submit" class="chat-form__submit" value="Send">
        </form>
    </div>
</div>
</body>
</html>